<section class="accounts-summary">
  <div class="overview-accounts">
    <div class="stats-block">
      <span class="bold-numbers">$2,158,367.93</span>
      <aside>Projected EOD</aside>
    </div>
    <div class="stats-block">
      <span class="bold-numbers">$7,237,921.82</span>
      <aside>Group Balance</aside>
    </div>
  </div>
  <ul class="accounts-list">
    <li>
      <div class="account-detail">
        <h4>
          USD Account
        </h4>
      </div>
      <div class="currency">
        USD
      </div>
      <div class="account-balance">
        $358,204.92
      </div>
    </li>
    <li>
      <div class="account-detail">
        <h4>
          CAD Account
        </h4>
      </div>
      <div class="currency">
        CAD
      </div>
      <div class="account-balance">
        $193,503.56
      </div>
    </li>
    <li>
      <div class="account-detail">
        <h4>
          ABC Payroll
        </h4>
      </div>
      <div class="currency">
        USD
      </div>
      <div class="account-balance">
        $0.00
      </div>
    </li>
    <li>
      <div class="account-detail">
        <h4>
          AED Operating
        </h4>
      </div>
      <div class="currency">
        AED
      </div>
      <div class="account-balance">
        $1,304,740.21
      </div>
    </li>
    <li>
      <div class="account-detail">
        <h4>
          ABC Account
        </h4>
      </div>
      <div class="currency">
        USD
      </div>
      <div class="account-balance">
        $100.00
      </div>
    </li>
  </ul>
  <a class="view-more" href="#">
    View all accounts
  </a>
</section>