<table class="libor-table">
  <thead>
    <th></th>
    <th>This Week</th>
    <th>Month Ago</th>
    <th>Year Ago</th>
  </thead>
  <tbody>
    <tr>
      <td><b>1 Month Libor</b></td>
      <td>0.15</td>
      <td>0.16</td>
      <td>0.18</td>
    </tr>
    <tr>
      <td><b>3 Month Libor</b></td>
      <td>0.24</td>
      <td>0.23</td>
      <td>0.26</td>
    </tr>
    <tr>
      <td><b>6 Month Libor</b></td>
      <td>0.33</td>
      <td>0.33</td>
      <td>0.39</td>
    </tr>
    <tr>
      <td><b>1 Year Libor</b></td>
      <td>0.56</td>
      <td>0.55</td>
      <td>0.67</td>
    </tr>
    <tr>
      <td><b>Bond Buyer's 20 bond index</b></td>
      <td>4.09</td>
      <td>4.31</td>
      <td>5.03</td>
    </tr>
    <tr>
      <td><b>FNMA 20yr Mrg COM del 60 days</b></td>
      <td>4.30</td>
      <td>3.82</td>
      <td>3.81</td>
    </tr>
  </tbody>
</table>