<div class="logged-in">
  <div class="user-account">
    <div class="small-user-container">
      <img src="<%= image_path 'robert.jpg' %>" alt="">
    </div>
  </div>
  <div class="user-id">
    <h4>Robert Calligan</h4>
  </div>
</div>