<a href="/susan" class="logged-in" id="active-user" data-ignore="true">
  <div class="user-account">
    <div class="small-user-container">
      <img src="<%= image_path 'susan.jpg' %>" alt="">
    </div>
  </div>
  <div class="user-id">
    <h4>Susan Nicholson</h4>
  </div>
</a>
<a href="/robert" class="logged-in ontop" id="non-active-user" data-ignore="true">
  <div class="user-account">
    <div class="small-user-container">
      <img src="<%= image_path 'robert.jpg' %>" alt="">
    </div>
  </div>
  <div class="user-id">
    <h4>Robert Calligan</h4>
  </div>
</a>