<div class="modal-overlay">
  <div class="double-border-wrapper">
    <div class="top-header-block">
      <h2>Apply Alternative Business Plan 1234</h2>
    </div>
    <div class="modal-window">
      <h3>
        Payment Details
      </h3>
      <form action="" class="payment-recs">
        <div class="payment-label">
          <h4><b>From:</b></h4>
        </div>
        <div class="payment-rest">
          <h4>
            USD account - 00000000000109
          </h4>
        </div>
        <div class="payment-label">
          <h4><b>To:</b></h4>
        </div>
        <div class="payment-rest">
          <h4>
            USD DDA 1 - 000000000110
          </h4>
        </div>
        <div class="payment-label">
          <h4><b>Date:</b></h4>
        </div>
        <div class="payment-rest">
          <input type="date">
        </div>
        <div class="payment-label">
          <h4><b>Amount:</b></h4>
        </div>
        <div class="payment-rest">
          <input type="number">
          <div class="styled-select">
            <select name="" id="">

            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>