<div class="modal-overlay">
  <div class="double-border-wrapper">
    <div class="top-header-block">
      <h2>Apply Alternative Business Plan 1234</h2>
    </div>
    <div class="modal-window">
      <h3>
        Payment Details
      </h3>
      <form action="" class="payment-recs">
        <div class="payment-label">
          <h4><b>From:</b></h4>
        </div>
        <div class="payment-rest">
          <h4>
            USD account - 00000000000109
          </h4>
        </div>
        <div class="payment-label">
          <h4><b>To:</b></h4>
        </div>
        <div class="payment-rest">
          <h4>
            USD DDA 1 - 000000000110
          </h4>
        </div>
        <div class="payment-label">
          <label>Date:</label>
        </div>
        <div class="payment-rest">
          <input type="date">
        </div>
        <div class="payment-label">
          <label>Amount:</label>
        </div>
        <div class="payment-rest select-currency">
          <input type="number">
          <div class="styled-select">
            <select name="" id="">
              <option value="">USD</option>
              <option value="">GBP</option>
              <option value="">CAD</option>
              <option value="">AED</option>
              <option value="">EUR</option>
            </select>
          </div>
        </div>
        <div class="payment-label">
          <label>Urgency:</label>
        </div>
        <div class="payment-rest">
          <a href="" class="fake-radio-button active">
            Same Day
          </a>
          <a href="" class="fake-radio-button">
            1 Day
          </a>
          <a href="" class="fake-radio-button">
            2 Day
          </a>
        </div>
        <div class="payment-label">
          <label>Remarks:</label>
        </div>
        <div class="payment-rest">
          <textarea name="" id="" cols="30" rows="20"></textarea>
        </div>
        <div class="button-container">
          <a href="" class="button" id="submit-payment" data-ignore="true">
            Submit Payment
          </a>
        </div>
      </form>
    </div>
  </div>
</div>