<div class="row">
  <%= partial(:'partials/accounts_summary') %>
  <div class="alerts">
    <div class="alert-notify">
      <h3 class="red-text">7 Alerts</h3>
      <a href="" class="view-more">
        View More
      </a>
    </div>
    <ul class="alert-lists">
      <a href="">
        <li class="red">
          <h3>
            2 Payments awaiting approval
          </h3>
        </li>
      </a>
      
      <a href="">
        <li class="red">
          <h3>
            3 invoices PMT due
          </h3>
        </li>
      </a>
    </ul>
  </div>
</div>

<div class="payment-spikes">
  <h3 class="yellow-text">
    Payment "Spike"
  </h3>
  <ul class="payment-spike-list">
    <li>
      <h3>
        Payment to Vendor #1234 for $XX,XXXX,XX
      </h3>
      <h4>Processed: <span>20/09/2014</span></h4>
      <h4>Approved: <span>21/09/2014</span></h4>
      <h4>Recieved: <span>22/09/2014</span></h4>
    </li>
  </ul>
</div>

<div class="map-background darker">
  <img class="map" src="<%= image_path 'worldmap.svg' %>">  
  <h3>Location: London, UK</h3>
</div>