<div class="audio_container">
  <div class="profile">
    <div class="user-photo-container" href="/cfo-login">
      <img src="<%= image_path 'susan.jpg' %>" alt="">
    </div>
  </div>
  <div class="audio_feed">
    <h1>Initialising Voice Recognition Sequence</h1>
    <div class="progress-bar">
      <span class="meter" style="width:0%;"></span>
    </div>
  </div>
  <div class="message"></div>
</div>
<div class="map-background">
  <img class="map" src="<%= image_path 'worldmap.svg' %>">
  <h3>Location: Boston, USA</h3>
</div>