<div class="top-nav">
<h4 class="left">
  My Alerts
</h4>
<a href="/cfo-dash" class="right">
  <h4>
    < Return to Dashboard
  </h4>
</a>
</div>

<ul class="alert-lists">
  <li class="red">
    <h3>
      Car Sales down in Q3
    </h3>
    <span class="red-text">
      Cashflow impact possibility: 74%
    </span>
  </li>
</ul>

<div class="alert-recommendation">
  <div class="description">
    <p>
      High risk that car manufacturers (clients: Ford and GM) will delay
      supplier payments
    </p>
    <p class="red-text">
      Cashflow impact possibility: 74%
    </p>
  </div>
  <div class="recommendation-options">
    <h3 class="yellow-text">
      5 Recommendations
    </h3>
    <ul class="recommendation-blocks">
      <li>
        <a href="" id="rec-0" class="nothing">
          <h4>Do nothing</h4>
        </a>
      </li>
      <li>
        <a href="" id="rec-1">
          <h4>
            Apply alternative business plan 1234
          </h4>
        </a>
      </li>
      <li>
        <a href="" id="rec-2">
          <h4>
            Restructure sweep:
                attach CAD account 000000000109 ($724,266.06) to USD account
                000000000110  ($12,794.31)
          </h4>
        </a>
      </li>
      <li>
        <a href="" id="rec-3">
          <h4>
            Extend loan repayment - from 60 months (current) to 90 months –
                 $2,023.02 additional interest
          </h4>
        </a>
      </li>
      <li>
        <a href="" id="rec-4">
          <h4>
             Change payment terms: if invoices paid > 5 days early, can  discount
     10% from invoice
          </h4>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="alert-detail rec-0">
  <!-- @josh make the weird table thing -->
  <table class="line-items">
  <img src="<%= image_path 'dummy-table.png'%>" alt="">
  </table>
  <img class="graph-detail" src="<%= image_path 'graph.svg'%>" alt="">
</div>