<div class="top-nav">
<h4 class="left">
  My Alerts
</h4>
<a href="/susan" class="right">
  <h4>
    < Return to Dashboard
  </h4>
</a>
</div>

<ul class="alert-lists big">
  <li class="red">
    <h3>
      Car Sales down in Q3
    </h3>
    <span class="red-text">
      Cashflow impact possibility: 74%
    </span>
  </li>
</ul>

<div class="alert-recommendation">
  <div class="description">
    <p>
      High risk that car manufacturers (clients: Ford and GM) will delay
      supplier payments
    </p>
    <p class="red-text">
      Cashflow impact possibility: 74%
    </p>
  </div>
  <div class="recommendation-options">
    <h3>
      5 Recommendations
    </h3>
    <ul class="recommendation-blocks">
      <li>
        <a href="" id="rec-0" class="active">
          <h4>Do nothing</h4>
        </a>
      </li>
      <li>
        <a href="" id="rec-1">
          <h4>
            Apply alternative business plan 1234
          </h4>
        </a>
      </li>
      <li>
        <a href="" id="rec-2">
          <h4>
            Restructure sweep:
                attach CAD account 000000000109 ($724,266.06) to USD account
                000000000110  ($12,794.31)
          </h4>
        </a>
      </li>
      <li>
        <a href="" id="rec-3">
          <h4>
            Extend loan repayment - from 60 months (current) to 90 months –
                 $2,023.02 additional interest
          </h4>
        </a>
      </li>
      <li>
        <a href="" id="rec-4">
          <h4>
             Change payment terms: if invoices paid > 5 days early, can  discount
              10% from invoice
          </h4>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="alert-detail">
<div class="rec-0">
    <table class="line-items">
    <img src="<%= image_path 'dummy-table.png'%>" alt="">
    </table>
    <img class="graph-detail" src="<%= image_path 'graph.svg'%>" alt="">
  </div>
  <div class="rec-1">
    <h3>
      Apply Alternative Business Plan 1234
    </h3>
    <a class="download-plan" href="">
      <div class="icon">
        <img src="<%= image_path 'xcel-icon.svg' %>" alt="">
      </div>
      <div class="content">
        <h4>
          Download Business Plan 1234
        </h4>
        <aside>Increase top line by 50%</aside>
      </div>
      <div class="download-show">
      </div>
    </a>
    <div class="plan-details">
      <h3>Cost and Revenue Increases</h3>
      <h4>Current Business Plan</h4>
      <table class="plan-table">
        <thead>
          <th></th>
          <th>MD</th>
          <th>M1</th>
          <th>M3</th>
          <th>M4</th>
          <th>M5</th>
          <th>M6</th>
        </thead>
        <tbody>
          <tr>
            <td><b>Current inflow</b></td>
            <td>10,000,000</td>
            <td>12,000,000</td>
            <td>10,000,000</td>
            <td>8,000,000</td>
            <td>9,000,000</td>
            <td>11,000,000</td>
          </tr>
          <tr>
            <td><b>Current Outflow</b></td>
            <td>7,000,000</td>
            <td>9,000,000</td>
            <td>7,000,000</td>
            <td>8,500,000</td>
            <td>9,500,000</td>
            <td>8,000,000</td>
          </tr>
        </tbody>
      </table>
      <h4>Business Plan 1234</h4>
      <table class="plan-table">
        <thead>
          <th></th>
          <th>MD</th>
          <th>M1</th>
          <th>M3</th>
          <th>M4</th>
          <th>M5</th>
          <th>M6</th>
        </thead>
        <tbody>
          <tr>
            <td><b>Current inflow</b></td>
            <td>10,000,000</td>
            <td>12,000,000</td>
            <td>10,000,000</td>
            <td>8,000,000</td>
            <td>9,000,000</td>
            <td>11,000,000</td>
          </tr>
          <tr>
            <td><b>Current Outflow</b></td>
            <td>7,000,000</td>
            <td>9,000,000</td>
            <td>7,000,000</td>
            <td>8,500,000</td>
            <td>9,500,000</td>
            <td>8,000,000</td>
          </tr>
          <tr>
            <td><b>Additional Inflow</b></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>4,000,000</td>
            <td>5,500,000</td>
            <td>6,000,000</td>
          </tr>
          <tr>
            <td><b>Additional Outflow</b></td>
            <td>2,000,000</td>
            <td>2,400,000</td>
            <td>2,000,000</td>
            <td>1,600,000</td>
            <td>1,800,000</td>
            <td>2,200,000</td>
          </tr>
          <tr>
            <td><b>Total Inflow</b></td>
            <td>10,000,000</td>
            <td>12,000,000</td>
            <td>10,000,000</td>
            <td>12,000,000</td>
            <td>14,500,000</td>
            <td>17,000,000</td>
          </tr>
          <tr>
            <td><b>Total Outflow</b></td>
            <td>2,000,000</td>
            <td>20,400,000</td>
            <td>16,000,000</td>
            <td>18,600,000</td>
            <td>20,800,000</td>
            <td>18,200,000</td>
          </tr>
        </tbody>
      </table>
      <a href="" class="button">
        Take this recommendation
      </a>
    </div>
  </div>
  <div class="rec-2 show">
    <div class="transfer-animation">

    </div>
    <h4>
      <b>
        Cross Currency Sweep - GSD A CORP - 10021
      </b>
    </h4>
    <table class="rest-table">
      <tbody>
        <tr>
          <td>000000110</td>
          <td>01/03/2014</td>
          <td>23423423423</td>
          <td>Credit Triggered</td>
          <td>Monthly</td>
          <td>01/03/2014</td>
          <td>SUSPENDED</td>
        </tr>
        <tr>
          <td>000000111</td>
          <td>01/03/2014</td>
          <td>23423423423</td>
          <td>Credit Triggered</td>
          <td>Monthly</td>
          <td>01/03/2014</td>
          <td>ACTIVE</td>
        </tr>
      </tbody>
    </table>
    <h4>
      <b>Cross Currency Sweep - ZFS A CORP - 10021</b>
    </h4>
    <table class="rest-table">
      <tbody>
        <tr>
          <td>000000110</td>
          <td>01/03/2014</td>
          <td>23423423423</td>
          <td>Credit Triggered</td>
          <td>Monthly</td>
          <td>01/03/2014</td>
          <td>SUSPENDED</td>
        </tr>
        <tr>
          <td>000000111</td>
          <td>01/03/2014</td>
          <td>23423423423</td>
          <td>Credit Triggered</td>
          <td>Monthly</td>
          <td>01/03/2014</td>
          <td>ACTIVE</td>
        </tr>
        <tr>
          <td>000000111</td>
          <td>01/03/2014</td>
          <td>23423423423</td>
          <td>Credit Triggered</td>
          <td>Monthly</td>
          <td>01/03/2014</td>
          <td>ACTIVE</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= partial(:'partials/susan') %>