<%= partial(:'partials/accounts_summary') %>
<div class="alerts">
  <h3 class="red-text">7 Alerts</h3>
  <ul class="alert-lists">
    <a href="">
      <li class="red">
        <h3>
          2 Payments awaiting approval
        </h3>
      </li>
    </a>
    <a href="/car-sales">
      <li class="red alert-comment">
        <h3>
          Car Sales down in Q3
        </h3>
        <span class="red-text">
          Cashflow impact possibility: 74%
        </span>
      </li>
    </a>
    <a href="">
      <li class="red">
        <h3>
          3 invoices PMT due
        </h3>
      </li>
    </a>
  </ul>
</div>