<div class="face_container">
  <div class="profile">
    <div class="user-photo-container" href="/cfo-login">
      <img src="<%= image_path 'susan.jpg' %>" alt="">
    </div>
  </div>
  <div class="face_feed">
    <canvas id="compare" width="640" height="480" style="display:none"></canvas>
    <video id="vid" autoplay loop width="640" height="480"></video>
    <canvas id="overlay" width="640" height="480"></canvas>
    <canvas id="debug" width="640" height="480" style="display:none"></canvas>
    <span class="scan-line-vertical"></span>
    <span class="scan-line-horizontal"></span>
  </div>
  <div class="messaging">
    <p id='gUMMessage'></p>
    <h2>Status : <span id='headtrackerMessage'></span></h2>
  </div>
</div>
<div class="map-background">
  <img class="map" src="<%= image_path 'worldmap.svg' %>">
  <h3>Location: Boston, USA</h3>
</div>

<script type="text/javascript">
  $(function(){
    var face = new App.Face("#vid");
    face.$el.on('status',function(ev,data){
      if (data.status === 'found') {
        // The face has been found change to debug and start scan
        face.$el.off('status')
        setTimeout(
          face.showProbabilityCanvas()
        ,2000)

        // Wait until after the probabilty map has been shown, then render the lines
        setTimeout(function(){
          $('.scan-line-vertical').animate({
            top: "+=481px"
          },1500)
          $('.scan-line-horizontal').animate({
            left: "+=600px"
          },2000,function(){
            var flash = new App.Flash('.flash').text('<h1>Face Matched</h1>')
            flash.$el.one('completed',function(){
              setTimeout(function(){
                $.pjax({url: '/audio', container: '.application'})
                flash.hide()
              },1500)
            })
            flash.show()
          })
        },3000)
      };
    })
    face.start()
  })
</script>