<div class="onyx-welcome-splash">
  <h1>Initialising the ONYX Project</h1>
  <div class="onyx-splash-logo">
    <img src="<%= image_path 'onyx.svg' %>">
  </div>
</div>
<div class="login-splash-wrapper">
  <div class="double-border-wrapper">
    <div class="login-splash">
      <h2>Please Select user ID to begin</h2>
      <div class="user-photos-wrapper">
        <a class="user-photo-container" href="/location/cfo">
          <img src="<%= image_path 'susan.jpg' %>" alt="">
        </a>
        <a class="user-photo-container" href="/location/robert">
          <img src="<%= image_path 'robert.jpg' %>" alt="">
        </a>
      </div>
    </div>
  </div>
</div>