<div class="onyx-welcome-splash">
  <h1>Initialising the ONYX Project</h1>
  <div class="onyx-splash-logo">
    <img src="<%= image_path 'onyx.svg' %>">
  </div>
</div>
<div class="login-splash-wrapper">
  <div class="double-border-wrapper">
    <div class="login-splash">
      <h2>Please Select user ID to begin</h2>
      <div class="user-photos-wrapper">
        <a href="/location/susan" class="individual-photo-wrapper">
          <div class="user-photo-container">
          <img class="person-image" src="<%= image_path 'susan.jpg' %>" alt="">
          </div>
          <div class="star-flare"></div>
        </a>
        <a href="/location/robert" class="individual-photo-wrapper">
          <div class="user-photo-container" >
            <img class="person-image" src="<%= image_path 'robert.jpg' %>" alt="">
          </div>
          <div class="star-flare"></div>
        </a>
      </div>
    </div>
  </div>
</div>