<div class="payments_transfer">
  <div class="top-nav">
  <h4 class="left">
    Taking Recommendation From Im
  </h4>
  <a href="/robert" class="right">
    <h4>
      < Return to Dashboard
    </h4>
  </a>
  </div>

  <ul class="alert-lists big">
    <li class="im-block has-action">
      <div class="im-photo">
        <div class="small-user-container">
          <img class="person-image" src="<%= image_path 'susan.jpg' %>" alt="">
        </div>
      </div>
      <div class="im-content">
        <h4>
          <b>
            Message from Susan:
          </b>
        </h4>
        <p>
          Ok, move $10,000,00 to the overnight sweep account
        </p>
      </div>
      <div class="im-time">
        Today 08:01
      </div>
      <div class="im-action">
        RECOMMENDED ACTION: Make Transfer
      </div>
    </li>
  </ul>

  <div class="row">
    <ul id="from">
      <li>
        <h2>Acc No. 2016472</h2>
        <h2>Sinbad Industries</h2>
      </li>
      <li>
        <h2>Acc No. 6305478</h2>
        <h2>Vendor 12</h2>
      </li>
      <li>
        <h2>Acc No. 9504702</h2>
        <h2>Vendor XX</h2>
      </li>
      <li>
        <h2>Acc No. 504147</h2>
        <h2>Vendor Calligan</h2>
      </li>
    </ul>
    <ul id="to"></ul>
  </div>

</div>
<%= partial(:'partials/dashboards_bg') %>
<%= partial(:'partials/robert') %>