<div class="payments_research">
  <div class="top-nav">
  <h4 class="left">
    MY recommended actions
  </h4>
  <a href="/robert" class="right">
    <h4>
      < Return to Dashboard
    </h4>
  </a>
  </div>

  <ul class="alert-lists big">
    <li class="im-block has-action">
      <div class="im-photo">
        <div class="small-user-container">
          <img class="person-image" src="<%= image_path 'susan.jpg' %>" alt="">
        </div>
      </div>
      <div class="im-content">
        <h4>
          <b>
            Message from Susan:
          </b>
        </h4>
        <p>
          Robert, why is there excess cash in the AED operating account?”
        </p>
      </div>
      <div class="im-time">
        Today 08:01
      </div>
      <div class="im-action">
        RECOMMENDED ACTION: RESEARCH PAYMENT
      </div>
    </li>
  </ul>

  <div class="row">
    <div class="payment-tool">
      <h2>Payment Research Tool</h2>
      <form action="">

        <input type="date" placeholder="Date">

        <input type="text" placeholder="Account No.">

        <input type="text" placeholder="Amount">

        <div class="styled-select">
          <select name="" id="country">
            <option>USD</option>
            <option>GBP</option>
            <option>CAD</option>
            <option selected>AED</option>
            <option value="">EUR</option>
          </select>
        </div>

        <input type="text" placeholder="Beneficiary">

        <div class="styled-select">
          <select name="" id="country">
            <option>America</option>
            <option>South America</option>
            <option>United Kingdom</option>
            <option selected>United Arab Emirates</option>
          </select>
        </div>
        <div class="actions">
          <a href="#" class="button payment-research-search" data-ignore="true">Search</a>
        </div>
      </form>
    </div>

    <div class="results">
      <div class="details">
        <h2>Payment Details</h2>
        <table class="table-borders">
          <thead>
            <th>Date</th>
            <th>Amount</th>
            <th>Beneficiary</th>
            <th>From</th>
          </thead>
          <tbody>
            <tr>
              <td>20/09/2014</td>
              <td>20,000 AED</td>
              <td>AED Operating</td>
              <td>ACME Enterprises<td>
            </tr>
            <tr>
              <td>22/09/2014</td>
              <td>10,000 AED</td>
              <td>AED Operating</td>
              <td>ACME Enterprises<td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="reason">
        <h2>Payment Reason</h2>
        <p>Payment for Invoice 00013 was made early and vendor took 5% discount.</p>
        <p>Payment received 30 days before due date.</p>
        <div class="actions">
          <a href="#" class="button payment-research-reply" data-ignore="true">Auto-Reply</a>  
        </div>
        
      </div>
    </div>
  </div>

</div>
<%= partial(:'partials/dashboards_bg') %>
<%= partial(:'partials/robert') %>
