<div class="payments_research">
  <div class="top-nav">
  <h4 class="left">
    MY recommended actions
  </h4>
  <a href="/robert" class="right">
    <h4>
      < Return to Dashboard
    </h4>
  </a>
  </div>

  <ul class="alert-lists big">
    <li class="im-block has-action">
      <div class="im-photo">
        <div class="small-user-container">
          <img class="person-image" src="<%= image_path 'robert.jpg' %>" alt="">
        </div>
      </div>
      <div class="im-content">
        <h4>
          <b>
            Message from Robert:
          </b>
        </h4>
        <p>
          We had an Early payment from client ABC
        </p>
      </div>
      <div class="im-time">
        Today 08:01
      </div>
      <div class="im-action">
        RECOMMENDED ACTION: RESEARCH PAYMENT
      </div>
    </li>
  </ul>

  <div class="row">
    <div class="payment-tool">
      <h2>Payment Research Tool</h2>
      <form action="">

        <input type="date" placeholder="Date">
        <input type="text" placeholder="Account No.">
        <input type="text" placeholder="Amount">
        <input type="text" placeholder="Currency">
        <input type="text" placeholder="Beneficiary">
        <input type="text" placeholder="Country">

      </form>
    </div>

    <div class="results">
      <div class="details">
        <h2>Payment Details</h2>
        <table class="table-borders">
          <thead>
            <th>Date</th>
            <th>Amount</th>
            <th>Beneficiary</th>
          </thead>
          <tbody>
            <tr>
              <td>20/09/2014</td>
              <td>20,000 AED</td>
              <td>AED Operating</td>
            </tr>
            <tr>
              <td>22/09/2014</td>
              <td>10,000 AED</td>
              <td>AED Operating</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="reason">
        <h2>Payment Reason</h2>
        <p>Payment for Invoice 00013 was made early and vendor took 5% discount.</p>
        <p>Payment received 30 days before due date.</p>
      </div>
    </div>
  </div>

</div>
<%= partial(:'partials/dashboards_bg') %>
<%= partial(:'partials/robert') %>
