@mixin col($col-no, $shift-no, $media, $drop-to, $shift-to) {
  @include span-columns($col-no);
      @include shift($shift-no);
      @include media($media) {
        @include span-columns($drop-to);
        @include shift($shift-to);
      }
}

@mixin padded-container {
  @include clearfix;
  max-width: $max-width;
  padding-left: 20px;
  padding-right: 20px;
  margin: {
    left: auto;
    right: auto;
  }
}


@mixin default-spacing {
  h1 {
    padding-bottom: 40px;
  }

  h2 {
    padding-bottom: 30px;
  }

  h3 {
    padding-bottom: 20px;
  }

  h4 {
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 20px;
  }

}
