h1 {
  font-family: ;
  font-size: ;
  font-weight: ;
  color: ;
}

h2 {
  font-family: ;
  font-size: ;
  font-weight: ;
  color: ;
}

h3 {
  font-family: ;
  font-size: ;
  font-weight: ;
  color: ;
}

h4 {
  font-family: ;
  font-size: ;
  font-weight: ;
  color: ;
}

h5 {
  font-family: ;
  font-size: ;
  font-weight: ;
  color: ;
}

p {
  font-family: ;
  font-size: ;
  font-weight: ;
  color: ;
}