.im-action {
  position: absolute;
  width: 100%;
  background-color: $teal-panel;
  bottom: -$padding-base*2;
  padding: $padding-base/2;
  left: 0;
  right: 0;
  font-size: rem(16px);
  box-shadow: $no-glow;
}
.im-photo {
  @include span-columns(1);
}
.im-content {
  display: table-cell;
}
.im-time {
  position: absolute;
  font-size: rem(12px);
  top: $padding-base;
  right: $padding-base;
}
.has-action {
  margin-bottom: $padding-base*3;
}
.im-block {
  background-image: image-url('background/voice.svg');
  border: 1px solid rgba($ice-blue, 0);
  &:hover{
    background-color: rgba($ice-blue, 0.4);
    @include transform(scale(1.03,1.03));
    box-shadow: $small-teal-glow;
    border: 1px solid rgba($ice-blue, 1);
    .im-action {
      box-shadow: $small-teal-glow;
    }
  }
  &.reply-block {
    background-color: $transparent-panel;
    @include filter(grayscale(100%));
    &:hover {
      background-color: $transparent-panel;
      @include transform(scale(1,1));
      box-shadow: $no-glow;
      border: 1px solid rgba($ice-blue, 0);
      .im-action {
        box-shadow: $no-glow;
      }
    }
  }
}

.reply {
  position: absolute;
  right: $padding-base;
  top: $padding-base/2;
  border-radius: $border-base-radius;
  border: 1px solid $border-ice-blue;
  padding: $padding-base/4 $padding-base $padding-base/4 $padding-base;
  background-color: $transparent-panel;
  font-size: rem(12px);
  &:hover {
    cursor: pointer;
    background-color: $teal-panel;
    box-shadow: $small-teal-glow;
    border: 1px solid $ice-blue;
  }
}