.accounts-list {
  margin-top: $padding-base/2;
  a {
    margin-bottom: $padding-base/2;
    display: block;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  li {
    @extend %clearfix;
    @extend %transition-fast;
    background: $transparent-panel;
    padding: $padding-base;
    border: 1px solid $border-ice-blue;
    &:hover {
      background-color: $teal-panel;
      @include transform(scale(1.03,1.03));
      box-shadow: $small-teal-glow;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    .currency {
      @include span-columns(2);
      padding-left: $padding-base;
      font-weight: $semibold;
      font-style: italic;
      color: $ice-blue;
    }
    .account-detail, .account-balance {
      @include span-columns(5);
    }
    .account-balance {
      @include omega();
      text-align: right;
      font-weight: bold;
      color: $ice-blue-softer;
      font-size: 1rem;
    }
  }

}

.view-more {
  float: right;
  text-align: right;
  color: $ice-blue-softer;
  font-size: rem(14px);
  &:hover {
    border-bottom: 1px solid $border-teal;
  }
}

.alerts {
  @include omega();
  margin-top: $padding-base/4;
}
.alert-notify {
  @extend %clearing-block;
}

.red-text {
  float: left;
}

.alert-lists {
  margin-top: $padding-base/4;
  clear: both;
  a {
    margin-bottom: $padding-base/2;
    display: block;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  li {
    @extend %clearfix;
    padding: $padding-base;
    position: relative;
    @include transition(all 0.2s ease-in);
    h3 {
      color: $ice-blue-softer;
    }

  }
}
.alert-comment {
  &:before {
    @extend %transition-base;
    @extend %vertical-align;
    content: 'Recommendations available';
    position: absolute;
    right: $padding-base;
    text-transform: uppercase;
    color: $yellow;
    font-weight: $semibold;
    opacity: 0.3;
  }
  &:hover:before {
    opacity: 0.6;
  }
}

li {
  &.red {
    background: $red-panel;
  }
  &.red:hover {
    background-color: rgba($red, 0.6);
    @include transform(scale(1.03,1.03));
    box-shadow: $small-orange-glow;
  }
  &.im-block {
    background-color: $ice-panel;
  }
}

.recommendations {
  .recommendation-list {
    margin-top: $padding-base/4;
    a {
      display: block;
      border-left: 4px solid $teal;
      padding-left: $padding-base/2;
      margin-bottom: $padding-base;
      @extend %transition-base;
      h3 {
        font-weight: $semibold;
        font-size: rem(21px)
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        text-shadow: $text-glow;
        border-left: 14px solid $border-teal;
      }
    }
  }
}

