.accounts-list {
  margin-left: 5%;
  margin-top: $padding-base/2;
  li {
    @extend %clearfix;
    background: $transparent-panel;
    padding: $padding-base;
    margin-bottom: $padding-base/2;
    border: 1px solid $border-ice-blue;
    &:hover {
      background-color: $teal-panel;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    .currency {
      @include span-columns(2);
      padding-left: $padding-base;
      font-weight: $semibold;
      font-style: italic;
    }
    .account-detail, .account-balance {
      @include span-columns(5);
    }
    .account-balance {
      @include omega();
      text-align: right;
      font-weight: bold;
      color: $ice-blue-softer;
      font-size: 1rem;
    }
  }

}

.view-more {
  float: right;
  text-align: right;
  color: $ice-blue-softer;
  &:hover {
    border-bottom: 1px solid $border-teal;
  }
}

.alerts {
  @include span-columns(6);
  @include omega();
  margin-top: $padding-base/4;
  h3 {
    color: $ice-blue-softer;
  }
  .alert-lists {
    margin-top: $padding-base/4;
    a {
      margin-bottom: $padding-base/2;
      display: block;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    li {
      @extend %clearfix;
      background: $red-panel;
      padding: $padding-base;
      margin-right: 5%;
      position: relative;
      @include transition(all 0.3s ease-in);
    }
  }
  .alert-comment {
    &:before {
      @extend %transition-base;
      @extend %vertical-align;
      content: 'Recommendations available';
      position: absolute;
      right: $padding-base;
      text-transform: uppercase;
      color: $yellow;
      font-weight: $semibold;
      opacity: 0.3;
    }
    &:hover:before {
      opacity: 0.6;
    }
  }
}

li {
  &.red:hover {
    background-color: rgba($red, 0.6);
    @include transform(scale(1.03,1.03));
  }
}