.half {
  @include span-columns(6);
  display: inline-block;
}
.info-tables {
  @include span-columns(6);
  .currency-table, .libor-table {
    border-collapse: collapse;
    vertical-align: middle;
    th,td {
      padding: $padding-base/4;
      border: 1px solid $border-transparent;
      font-size: rem(10px);
      vertical-align: middle;
      text-align: center;
      img {
        opacity: 0.5;
      }
    }
    th {
      border-top: 0px;
      &:first-child {
        border-left: 0px;
      }
    }
    td {
      &:first-child {
        border-left: 0px;
        text-align: right;
      }
    }
    .hidden {
      opacity: 0;
    }
    .transparent {
      opacity: 0.3;
    }
  }
}