
@include keyframes(flare) {
  0% {
    opacity: 0;
    @include transform(rotate(0deg));
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include transform(rotate(-360deg));
  }
}
.star-flare {
  background-image: image-url('flare.png');
  width: 210px;
  height: 210px;
  top: -24px;
  position: absolute;
  right: 0;
  opacity: 0;
}

.individual-photo-wrapper {
  display: inline-block;
  position: relative;
  &:hover {
    .star-flare {
      @include animation(flare 1s ease);
    }
    .user-photo-container {
      cursor: pointer;
      box-shadow: $teal-glow;
      img {
        opacity: 1;
      }
    }
  }
}
.user-photo-container {
  position: relative;
  opacity: 0.6;
  margin-right: $padding-base;
  background: $teal;
  height: 165px;
  width: 165px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: $no-glow;
  @include transition(all 0.2s ease);

  img {
    @include position(absolute, 0px 0px 0px 0px);
    min-height: 100%;
    min-width: 100%;
    opacity: 0.8;
    @include transition(opacity 0.2s ease);
  }
}

.small-user-container {
  line-height: 0.3;
  img {
    border-radius: 50%;
  }
}
// Only add hover events to anchors


.logged-in {
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid rgba($ice-blue, 0);
  padding: $padding-base/2;
  background-color: rgba($teal, 0);
  cursor: pointer;
  width: 250px;
  @extend %transition-base;
  .user-account {
    width: 50px;
  }
  .user-id, .user-account  {
    display: inline-block;
    vertical-align: bottom;
  }
  &:hover {
    border: 1px solid rgba($ice-blue, 0.3);
    background-color: rgba($teal, 0.2);
  }
  &.ontop {
    border: 1px solid rgba($ice-blue, 0.3);
    background-color: $black-panel;
    bottom: 72px;

    &:hover {
      box-shadow: $teal-glow;
    }
  }
  &.active {
    border: 1px solid rgba($ice-blue, 0.3);
    background-color: rgba($teal, 0.2);
  }
}
#non-active-user {
  display: none;
}