@import "framework/neat/neat-helpers";


// ------------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------


// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------
body {
  font-size: 16px;
}

/* $column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, -2) !default;

$fg-column: $column;
$fg-gutter: $gutter; */

@mixin omega-reset($nth, $columns) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($columns); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Change the grid settings
$column: 90px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(700);
$visual-grid: false;

// Define your breakpoints
$big-screen: new-breakpoint(min-width 1673px 12);
$small-screen: new-breakpoint(max-width 1280px 12);
$ipad: new-breakpoint(max-width 991px 12);
$tablet: new-breakpoint(max-width 768px 9);
$phone: new-breakpoint(max-width 580px 6);
$iphone: new-breakpoint(max-width 340px 3);

//vertical

$medium-height: 'max-height' 715px;
$small-height: 'max-height' 635px;