@import "framework/neat/neat-helpers";


// ------------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 3) !default; // Gutter between each two columns

// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;

@mixin omega-reset($nth, $columns) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($columns); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1100);
$visual-grid: true;

// Define your breakpoints
$ipad: new-breakpoint(max-width 991px 12);
$tablet: new-breakpoint(max-width 768px 9);
$phone: new-breakpoint(max-width 580px 6);
$iphone: new-breakpoint(max-width 340px 3);