%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

%field {
  width: 100%;
  padding: 20px;
  border-radius: $base-border-radius;
  @include span-columns(12);
  margin-bottom: 20px;
}

%clearing-block {
  width: 100%;
  clear: both;
  display: block;
  float: left;
}

%default-link-styling {

}

%alternative-link-styling {

}

%button {

}
