%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

%clearing-block {
  width: 100%;
  display: block;
  clear: both;
  float: left;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

%vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%absolute-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

%default-link-styling {

}

%alternative-link-styling {

}

%button {

}

%transition-base {
  @include transition(all 0.3s ease-in-out);
}
