body {
  @include background-image( linear-gradient(to top, $base-gradient, #000000));
  font-size: 16px;
  color: $ice-blue;
  font-family: $sans;
  -webkit-font-smoothing: antialiased;
}

.left-animated-dots {
  @include animation(move-left 50s ease infinite);
  @include position(fixed, 0px 0px 0px 0px);
  background: image-url('dots1.png');
  background-repeat: repeat-x;
  background-position: 0% center;
  
}

.right-animated-dots {
  @include animation(move-right 60s ease infinite);
  @include position(fixed, 0px 0px 0px 0px);
  background: image-url('dots2.png');
  background-repeat: repeat-x;
  background-position: 100% center;
}

// @include keyframes(lines-bounce) {
//   from { background-size: 150% 150%;}
//   to { background-size: 100% 100%;}
// }

.tech-lines {
  @include position(fixed, 0px 0px 0px 0px);
  background: image-url('lines.svg') no-repeat;
  background-size: 150% 150%;
  background-position: 0%, 50%;
  /* @include animation(lines-bounce 75s ease);
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate-reverse) */
}

@-webkit-keyframes move-left {
  from {
    background-position: 0% 50%;
  }
  to { 
    background-position: -100% 50%;
  }
}
@-webkit-keyframes move-right {
  from {
    background-position: 0% 50%;
  }
  to { 
    background-position: 100% 50%;
  }
}