@mixin col($col-no, $shift-no, $media, $drop-to, $shift-to) {
  @include span-columns($col-no);
      @include shift($shift-no);
      @include media($media) {
        @include span-columns($drop-to);
        @include shift($shift-to);
      }
}

@mixin simple-col($col-no, $shift-no) {
  @include span-columns($col-no);
  @include shift($shift-no);
}

@mixin single-col {
  @include span-columns(12);
  @include shift(0);
}


@mixin padded-container {
  @include clearfix;
  max-width: $max-width;
  padding-left: 20px;
  padding-right: 20px;
  margin: {
    left: auto;
    right: auto;
  }
}

//please create variables for family.

@mixin font($family, $size, $color) {
  font-family: $family;
  font-size: $size;
  color: $color;
}

@mixin default-spacing {
  h1 {
    padding-bottom: 40px;
  }

  h2 {
    padding-bottom: 30px;
  }

  h3 {
    padding-bottom: 20px;
  }

  h4 {
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 20px;
  }
}

@mixin omega-reset($nth) {
  &amp;:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &amp;:nth-child(#{$nth}+1) { clear: none }
}

@mixin vertical-breakpoint($point) {
  @if $point == large {
    @media (max-height: 900px) { @content; }
  }
  @else if $point == medium {
    @media (max-height: 700px) { @content; }
  }
  @else if $point == small {
    @media (max-height: 500px)  { @content; }
  }
}
