$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$heavy: 800;
$font-black: 900;

$sans: sans-serif;
$serif: serif;

@function calculateRem($size) {
  $remSize: $size / $base-font-size;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

%white-fonts {
  h1,h2,h3,h4,h5,p {
    color: white;
  }
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

p {

}

blockquote {

}