//fonts
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$heavy: 800;
$font-black: 900;

$sans-family: sans-serif;
$serif-family: serif;

//colours

//size variables
$base-border-radius: 6;
