//colours
$background: #FFFFFF;
$main-colour: #666666;
$text-body-color: #444444;

$base-border-color: #eee;
//size variables
$base-border-radius: 6;

$base-font-size: 16px;

$ice-blue: #90DED6;
$teal: #00FFFC;
$teal-dark: #90DED6;
$yellow-light: #90DED6;
$yellow: #90DED6;
$red: #ed303c;
$orange: #F69A63;

$base-gradient: #364A4A;
$fail-gradient: #623928;

$padding-base: rem(20px);

///transparent colours

$black-panel: rgba(0,0,0,0.6);

$border-teal: rgba($teal, 0.5);
$border-ice-blue: rgba($ice-blue, 0.5);

$no-glow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
$teal-glow: 0px 0px 18px 0px rgba(44, 254, 251, 0.86);