.accounts-summary {
  @extend %clearfix;
  @include span-columns(5);
  .overview-accounts {
    @extend %clearfix;
    text-align: right;
    .stats-block,  {
      @include span-columns(4);
    }
    .transactions-block {
      @include span-columns(4);
    }
    .bold-numbers {
      @include font($sans, rem(24px) , $xxbold, $ice-blue-softer)
    }
    aside {
      border-top: 1px solid $border-teal;
      float: right;
      clear: both;
      text-align: right;
    }
  }
}