.big li:hover {
  @include transform(scale(1,1));
  background-color: $red-panel;
}
.big li.im-block:hover {
  background-color: $ice-panel;
}
.big li .im-photo {
  width: 50px;
}
.alert-recommendation {
  @include span-columns(6);
  padding: $padding-base;
  border-right: 1px solid $border-transparent;
  p {
    font-size: rem(24px);
    max-width: 80%;
  }
  .recommendation-options {
    clear: both;
    display: block;
    padding-top: $padding-base*2;
  }
  .recommendation-blocks {
    counter-reset: section;
    li {

    }
    li a {
      background-color: $ice-panel;
      display: block;
      padding: $padding-base/2;
      margin-bottom: $padding-base/2;
      @include transition(all 0.1s ease-in);
      &:before {
        counter-increment: section;
        content: counter(section)'. ';
        float: left;
        padding-right: $padding-base/2;
        font-size: rem(18px);
        font-weight: $bold;
      }
      &:hover {
        @include background(rgba($teal, 0.6), linear-gradient(top, rgba(26,107,104,0.63) 0%,rgba(26,107,104,0.62) 1%,rgba(83,210,224,0.41) 17%,rgba(82,207,222,0) 48%,rgba(81,203,219,0.38) 81%,rgba(81,203,219,0.48) 90%,rgba(26,107,104,0.6) 100%));
      }
    }
    .active {
      background: rgba($teal, 0.6);
      @include transform(scale(1.03,1.03));
    }

    h4 {
      text-transform: none;
      max-width: 80%;
    }
  }
}
.alert-detail {
  @include span-columns(6);
  @include omega();
  padding: $padding-base;
  .graph-detail {
    max-height: 40%;
  }
  h3 {
    padding-bottom: $padding-base/2
  }

  .rec-0, .rec-1, .rec-2 {
    display: none;
    opacity: 0;
    height: 0px;
    @include transition(opacity 0.1s ease-in-out);
    &.show {
      opacity: 1;
      display: block;
    }
  }
  .button {
    float: right;
  }
}

.plan-details {
  h4 {
    padding-bottom: $padding-base/4;
    font-weight: $semibold;
  }
}


.download-plan {
  @extend %clearing-block;
  position: relative;
  padding-bottom: $padding-base/2;
  .icon {
    @include span-columns(1);
    img {
      max-width: 100%;
    }
  }
  .download-show {
    @include position(absolute,0px 0px 0px 0px);
    background-color: $green-panel;
    text-align: center;
    padding: $padding-base/2;
    opacity: 0;
    @extend %transition-base;
  }
  &:hover {
    .download-show {
      opacity: 1;
    }
  }
}

.transfer-animation {
  @extend %clearing-block;
  .usd-structure {
    @include span-columns(6);
    border: 1px dotted $border-transparent;
    padding: $padding-base/2;
  }
}