.onyx-welcome-splash {
  @include col(6, 3, $tablet, 8, 2);
  position: absolute;
  @extend %vertical-align;
  .onyx-splash-logo {
    position: relative;
    @include animation(wipe 6s ease);
    @include animation-fill-mode(forwards);
    -webkit-mask-size: 225% 100%;
    -webkit-mask-position: 275% 0%;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top,
      color-stop(0.00,  rgba(0,0,0,1)),
      color-stop(0.35,  rgba(0,0,0,1)),
      color-stop(0.50,  rgba(0,0,0,0)),
      color-stop(0.75,  rgba(0,0,0,0)),
      color-stop(1.00,  rgba(0,0,0,0)));
  }
}

@include keyframes(wipe) {
  0% {
    -webkit-mask-position: 275% 0%;
  }
  100% {
    -webkit-mask-position: 185% 0%;
  }
}