$form-font-family: $sans;
$form-font-size: 1rem;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: $semibold;
  text-transform: uppercase;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}
textarea {
  resize: vertical;
}
textarea,
#{$all-text-inputs} {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: rgba(0,0,0,0.5);
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  padding-left: 7px;
  padding-right: 7px;
  height: rem(35px);
  margin-bottom: 15px;
  min-width: 70%;
  font-weight: $light;
  color: $ice-blue-softer;
  line-height: rem(35px);
  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
  @include placeholder {
    color: $ice-blue-softer;
  }
}
input[type="text"] {
  @include appearance(none);
  height: rem(35px);
}
input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}
input[type="date"] {
  height: rem(35px);
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: $light;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
}
textarea {
  height: 100px;
}
.styled-select {
  width: 100%;
  height: rem(35px);
  overflow: hidden;
  background: image-url('arrow.png') no-repeat right #ddd;
  border-radius: $border-base-radius;
  background-color: $transparent-panel;
  border: 1px solid $border-teal;
  z-index: 99;

  select {
    width: 100%;
    height: rem(35px);
    padding: 5px;
    padding-right: 45px;
    font-size: 1rem;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $ice-blue-softer;
    font-family: $sans;
  }
}


$align-center: rem(30px)/2 - rem(21px)/2;
$align-center-minus: - rem(30px)/2 - rem(5px);
.styled-checkbox {

  input[type=checkbox], input[type=radio] {
    visibility: hidden;
  }
  &:before {
    content: '';
    width: rem(30px);
    height: rem(30px);
    border: 2px solid $border-teal;
    background-color: transparent;
    position: absolute;
    border-radius: $border-base-radius;
    left: 0;
  }
  label {
    cursor: pointer;
    padding-left: rem(30px) + $padding-base/2;
    margin-top: $align-center-minus;
    &:after {
      opacity: 0.2;
      content: '✓';
      position: absolute;
      font-size: rem(24px);
      left: 0;
      top: 0;
      height: rem(30px);
      width: rem(30px);
      color: $ice-blue-softer;
      background: transparent;
      padding-left: rem(6px);
    }
    &:hover:after {
      opacity: 0.5;
      box-shadow: $small-teal-glow;
    }
  }
  input[type=checkbox]:checked + label:after {
    opacity: 1;
    background: $teal-panel;
    border-radius: $border-base-radius;
    box-shadow: $small-teal-glow;
  }
}

.fake-radio-button {
  display: inline-block;
  box-shadow: $no-glow;
  border-radius: $border-base-radius;
  border: 1px solid $border-transparent;
  background-color: $transparent-panel;
  padding-left: $padding-base/2;
  padding-right: $padding-base/2;
  height: rem(35px);
  line-height: rem(35px);
  //@extend %transition-fast;

  &:hover {
    background-color: $black-panel;
    box-shadow: $small-teal-glow;
    @include transform(scale(1.02,1.02));
  }
  &.active {
    background-color: $teal-panel;
    @include transform(scale(1.05,1.05));
    margin-right: $padding-base/4;
  }
}
.actions {
  @include clearfix;
  margin-top: 20px;
}
.button {
  padding: $padding-base/2;
  border-radius: $border-base-radius;
  border: 1px solid $teal;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: $semibold;
  background-color: rgba($teal,0.3);
  @extend %transition-fast;
  &:hover {
    background-color: rgba($teal, 0.7);
    box-shadow: $small-teal-glow;
  }
}