<div class="rec-0 show">
  <h2>Daily Cash forecast</h2>
  <table class="line-items">
    <thead>
      <th>
        Line Item
      </th>
      <th>
        07-29-2014
      </th>
      <th>
        07-30-2014
      </th>
      <th>
        07-31-2014
      </th>
      <th>
        08-01-2014
      </th>
      <th>
        08-02-2014
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <b>Currency: USD</b>
        </td>
        <td>
          61,903,383.13
        </td>
        <td>
          60,852,877.31
        </td>
        <td>
          62,399,187.91
        </td>
        <td>
          62,280,726.78
        </td>
        <td>
          62,280,726.78
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Account Type: DDA
          </b>
        </td>
        <td>
          38,909,321.61
        </td>
        <td>
          38,010,213.39
        </td>
        <td>
          39,696,477.57
        </td>
        <td>
          39,692,852.16
        </td>
        <td>
          39,692,852.16
        </td>
      </tr>
      <tr>
        <td>
          <b>
            00000000111
          </b>
        </td>
        <td>
          82,699.16
        </td>
        <td>
          82,699.16
        </td>
        <td>
          82,702.69
        </td>
        <td>
          82,709.69
        </td>
        <td>
          82,709.69
        </td>
      </tr>
      <tr>
        <td>
          <b>
            00000000110
          </b>
        </td>
        <td>
          12,794.31
        </td>
        <td>
          12,212.94
        </td>
        <td>
          11,456.74
        </td>
        <td>
          622.22
        </td>
        <td>
          622.22
        </td>
      </tr>
      <tr>
        <td>
          <b>
            00000000107
          </b>
        </td>
        <td>
          6,192.39
        </td>
        <td>
          6,192.39
        </td>
        <td>
          6,192.39
        </td>
        <td>
          6,192.50
        </td>
        <td>
          6,192.50
        </td>
      </tr>
      <tr>
        <td>
          <b>
            00000000106
          </b>
        </td>
        <td>
          760,611,94
        </td>
        <td>
          779,018.90
        </td>
        <td>
          805,059.60
        </td>
        <td>
          823,532.50
        </td>
        <td>
          823,532.50
        </td>
      </tr>
      <tr>
        <td>
          <b>
            00000000105
          </b>
        </td>
        <td>
          249,187.16
        </td>
        <td>
          249,187.16
        </td>
        <td>
          249,218.88
        </td>
        <td>
          249,218.88
        </td>
        <td>
          249,218.88
        </td>
      </tr>
    </tbody>
  </table>
  <img class="graph-detail" src="<%= image_path 'graph.svg'%>" alt="">
  <a href="/susan" class="button">
    Ignore recommendations
  </a>
</div>