<div class="rec-2 show">
  <div class="transfer-animation">
    <div class="usd-structure">

    </div>
  </div>
  <h4>
    <b>
      Cross Currency Sweep - GSD A CORP - 10021
    </b>
  </h4>
  <table class="rest-table">
    <tbody>
      <tr>
        <td>000000110</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>SUSPENDED</td>
      </tr>
      <tr>
        <td>000000111</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>ACTIVE</td>
      </tr>
    </tbody>
  </table>
  <h4>
    <b>Cross Currency Sweep - ZFS A CORP - 10021</b>
  </h4>
  <table class="rest-table">
    <tbody>
      <tr>
        <td>000000110</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>SUSPENDED</td>
      </tr>
      <tr>
        <td>000000111</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>ACTIVE</td>
      </tr>
      <tr>
        <td>000000111</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>ACTIVE</td>
      </tr>
    </tbody>
  </table>
</div>