<div class="rec-2">
<h3>Restructure sweep:
          attach CAD account 000000000109 ($724,266.06) to USD account
          000000000110  ($12,794.31)</h3>
  <div class="transfer-animation">
    <div class="usd-structure">
      <div class="account-block-top">
        <h4>USD ACCCOUNT</h4>
        <p>000000115</p>
        <p>DDA</p>
      </div>
      <div class="account-block">
        <h4>USD ACCCOUNT</h4>
        <p>000000110</p>
        <p>DDA</p>
      </div>
      <div class="transparent-block">
        <h4 class="hidden">&nbsp;</h4>
        <p class="hidden">&nbsp;</p>
        <p class="hidden">&nbsp;</p>
      </div>
    </div>
    <div class="cad-own">
      <div class="red-block">
        <h4>CAD ACCCOUNT</h4>
        <p>000000109</p>
        <p>DDA</p>
      </div>
    </div>
  </div>
  <h4>
    <b>Cross Currency Sweep - ZFS A CORP - 10021</b>
  </h4>
  <table class="rest-table">
    <tbody>
      <tr>
        <td>000000110</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>SUSPENDED</td>
      </tr>
      <tr>
        <td>000000111</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>ACTIVE</td>
      </tr>
      <tr>
        <td>000000111</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>ACTIVE</td>
      </tr>
    </tbody>
  </table>
  <h4>
    <b>
      Cross Border Sweep - ZFSA Corp - 10022
    </b>
  </h4>
  <table class="rest-table">
    <tbody>
      <tr>
        <td>000000110</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>SUSPENDED</td>
      </tr>
      <tr>
        <td>000000111</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>ACTIVE</td>
      </tr>
    </tbody>
  </table>
  <h4>
    <b>
      Standalone Acconts
    </b>
  </h4>
  <table class="rest-table">
    <tbody>
      <tr>
        <td>000000133</td>
        <td>01/03/2014</td>
        <td>23423423423</td>
        <td>Credit Triggered</td>
        <td>Monthly</td>
        <td>01/03/2014</td>
        <td>SUSPENDED</td>
      </tr>
    </tbody>
  </table>
  <a href="" class="button" data-ignore="true">
    Take this recommendation
  </a>
</div>